<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>It is colored!</title>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
    <meta charset="utf-8"/>
</head>
<header th:fragment="header">
    <div id="options" th:object="${fox}">
        <ul>
            <li><a th:href="|/?name=*{name}|">Information</a></li>
            <li><a th:href="|/nutritionStore?name=*{name}|">Nutrition Store</a></li>
            <li><a th:href="|/trickCenter?name=*{name}|">Trick Center</a></li>
        </ul>
    </div>
</header>
</body>
</html>
