<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body>
<header th:replace="base :: header"></header>
<main>
    <div id="fox-picture">
        <img src="../img/greenfox.png">
    </div>
    <div id="status" th:object="${fox}">
        <p th:text="|This is *{name}.|"></p>
        <p th:text="*{food==null && drink==null}
        ?'Currently living on only dirt :(. He knows ' + *{tricks.size()} + ' tricks.'
        :'Currently living on ' + *{food} + ' and ' + *{drink} + '. He knows ' + *{tricks.size()} + ' tricks.'"></p>
    </div>
    <div class="tricks" th:object="${fox}">
        <h2>Known tricks</h2>
        <p th:if="*{tricks.size()} == 0">You don't know any tricks so far.</p>
        <ul th:unless="*{tricks.size()} == 0">
            <li th:each="trick : *{getTricks()}" th:text="${trick}"></li>
        </ul>
    </div>
</main>
<footer th:replace="base :: footer"></footer>
</body>
</html>
