<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nutrition Store</title>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body>
<header th:replace="base :: header"></header>
<div>
    <h1 th:text="|Welcome to ${fox.name}'s Nutrition Store!|"></h1>
</div>
<div>
    <form method="post" action="#" th:action="@{/nutritionStore}" th:object="${fox}">
        <div>
            Food:
            <select name="food">
                <option th:each="fooditem : ${foods}" th:utext="${fooditem}" th:value="${fooditem}"></option>
            </select>
        </div>
        <div>
            Drink:
            <select name="drink">
                <option th:each="drinkitem : ${drinks}" th:utext="${drinkitem}" th:value="${drinkitem}"></option>
            </select>
        </div>
        <div>
            <input type="submit" value="SUBMIT">
            <input type="hidden" name="name" th:value="*{name}">
        </div>
    </form>
</div>
</body>
</html>
