<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trick Center</title>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body th:object="${fox}">
<header th:replace="base :: header"></header>
<div>
    <h1 th:text="|Welcome to *{name}'s Trick Center!|"></h1>
</div>
<div>
    <form method="post" action="/trickCenter">
        <div>
            Tricks:
            <select name="trick">
                <option th:each="singleTrick : ${tricks}" th:value="${singleTrick}" th:text="${singleTrick}"></option>
            </select>
        </div>
        <div>
            <input type="submit" value="SUBMIT TRICKS">
            <input type="hidden" name="name" th:value="*{name}">
        </div>
    </form>
</div>
</body>
</html>
