<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My ToDo App</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div th:replace="base :: template">
</div>
<form method="post" th:object="${todo}" th:action="@{/{id}/edit(id=${todo.id})}">
    <div>
        <label for="title">Name of task: </label>
        <input id="title" name="title" th:field="*{title}"><br>
    </div>
    <div>
        <label for="assignee">Who is reponsible for this task? </label>
        <select id="assignee" name="assignee">
            <option th:each="assignee : ${assignee}" th:utext="${assignee.getName()}" th:value="${assignee.getId()}"></option>
        </select>
    </div>
    <div>
        <label for="urgent">Is it urgent?</label>
        <input id="urgent" type="checkbox" th:field="*{urgent}">
    </div>
    <div>
        <label for="done">Is it done?</label>
        <input id="done" type="checkbox" th:field="*{done}">
    </div>
    <button>Edit task</button>
</form>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
