<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>My ToDo App</title>
            <meta charset="utf-8"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        </head>
<body>
<div class="container">
    <div th:replace="base :: template"></div>
    <h1 style="text-transform: uppercase; text-align: center; margin: 0 0 20px">Members:</h1>
    <table class="table table-hover">
        <thead style="text-transform: uppercase; font-weight: bold">
        <tr>
            <td scope="col">Id</td>
            <td scope="col">Name</td>
            <td scope="col">Email address</td>
            <td scope="col"></td>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="person : ${assignees}">
            <tr>
                <td class="align-middle" th:text="${person.getId()}"></td>
                <td class="align-middle" th:text="${person.getName()}"></td>
                <td class="align-middle" th:text="${person.getEmail()}"></td>

                <td>
                    <form th:action="@{/assignees/{id}/edit(id=*{person.id})}" method="get">
                        <button type="submit" class="btn btn-primary">edit</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>
