<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>H2 Database testing</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="base :: template"></div>
    <h1 style="text-transform: uppercase; text-align: center">Todos for today:</h1>
    <div style="margin: 0 0 20px">
        <form action="/search" method="get">
            <label for="search">Search:</label><br>
            <input id="search" type="text" name="searchTodo">
            <button>Search!</button>
        </form>
    </div>
    <table class="table table-hover">
        <thead style="text-transform: uppercase; font-weight: bold">
        <tr>
            <td scope="col">Id</td>
            <td scope="col">Action</td>
            <td scope="col">Done</td>
            <td scope="col">Urgent</td>
            <td scope="col"></td>
            <td scope="col"></td>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="todo : ${listOfTodos}">
            <tr>
                <td class="align-middle" th:text="${todo.getId()}"></td>
                <td class="align-middle" th:text="${todo.getTitle()}"></td>
                <td class="align-middle" th:if="${todo.isDone()}">
                    <i class="material-icons">check_circle</i>
                </td>
                <td class="align-middle" th:unless="${todo.isDone()}">
                    <i class="material-icons">do_not_disturb_on</i>
                </td>
                <td class="align-middle" th:if="${todo.isUrgent()}">
                    <i class="material-icons">add_circle</i>
                </td>
                <td class="align-middle" th:unless="${todo.isUrgent()}">
                    <i class="material-icons">do_not_disturb_on</i>
                </td>
                <td>
                    <form th:action="@{/{id}/edit(id=*{todo.id})}" method="get">
                        <button type="submit" class="btn btn-primary">edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/{id}/delete(id=*{todo.id})}" method="post">
                        <button type="submit" class="btn btn-danger">delete</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
