* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#a8d6a8, #8a86aa);
}

.container {
  background-color: white;
  width: 60%;
  margin: 50px auto;
  padding: 20px 30px 30px;
  border-radius: 5px;
}

h1 {
    font-weight: normal;
    margin: 20px 50px;
}

input,
.social {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
  display: inline-block;
  font-size: 16px;
}

.social {
    text-decoration: none;
    text-align: center;
}

.facebook {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.col {
    flex: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 5px;
}

.row {
    display: flex;
}

.or {
    position: absolute;
    left: 50%;
    margin-top: 5%;
    transform: translate(-50%);
    background-color: lightgray;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
}

button {
    color: white;
    background-color: green;
    border: none;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    margin: 20px 0px;
}